# MST foundation configuration
MST_CONFIG_SCHEMA_VERSION="1"
MST_LOG_LEVEL="INFO"
MST_OUTPUT_MODE="text"
MST_COLOR_MODE="auto"
MST_LOG_DIR="/var/log/mst"
MST_STATE_DIR="/var/lib/mst"
MST_LOCK_DIR="/var/lib/mst/locks"
MST_TIMEOUT_SECONDS="10"
MST_ALLOW_ENV_OVERRIDES="yes"
MST_HEALTH_CPU_WARN_PERCENT="80"
MST_HEALTH_CPU_ERROR_PERCENT="95"
MST_HEALTH_MEMORY_WARN_PERCENT="85"
MST_HEALTH_MEMORY_ERROR_PERCENT="95"
MST_HEALTH_DISK_WARN_PERCENT="85"
MST_HEALTH_DISK_ERROR_PERCENT="95"
MST_SERVICES_NGINX_CANDIDATES="nginx.service"
MST_SERVICES_PHP_FPM_CANDIDATES="php8.3-fpm.service,php8.2-fpm.service,php8.1-fpm.service,php8.0-fpm.service,php7.4-fpm.service,php-fpm.service"
MST_SERVICES_DATABASE_CANDIDATES="mariadb.service,mysql.service"
MST_SERVICES_REDIS_CANDIDATES="redis-server.service"
MST_SERVICES_CRON_CANDIDATES="cron.service,crond.service"
MST_SERVICES_FAIL2BAN_CANDIDATES="fail2ban.service"
MST_SERVICES_SSH_CANDIDATES="ssh.service,sshd.service"
MST_SECURITY_PROC_DIR="/proc"
MST_SECURITY_SSH_SERVICE_CANDIDATES="ssh.service,sshd.service"
MST_SECURITY_SSH_CONFIG_FILE="/etc/ssh/sshd_config"
MST_SECURITY_UFW_CONF_FILE="/etc/ufw/ufw.conf"
MST_SECURITY_UFW_DEFAULTS_FILE="/etc/default/ufw"
MST_SECURITY_FAIL2BAN_SERVICE_CANDIDATES="fail2ban.service"
MST_SECURITY_AUTO_UPGRADES_FILE="/etc/apt/apt.conf.d/20auto-upgrades"
MST_SECURITY_TIMESYNC_SERVICE_CANDIDATES="systemd-timesyncd.service,chrony.service,chronyd.service,ntp.service"
MST_WEBSITE_TARGETS=""
# Set to "yes" to read-only discover sites from local nginx/apache configuration.
MST_WEBSITE_AUTO_DISCOVER="no"
MST_WEBSITE_RESPONSE_WARN_MS="2000"
MST_WEBSITE_TLS_EXPIRY_WARN_DAYS="14"
MST_WEBSITE_REDIRECT_WARN_COUNT="0"
MST_WORDPRESS_TARGETS=""
# Set to "yes" to read-only discover sites from local nginx/apache configuration.
MST_WORDPRESS_AUTO_DISCOVER="no"
MST_WORDPRESS_CRON_OVERDUE_WARN_COUNT="0"
MST_BACKUP_TARGETS=""
MST_TELEGRAM_ENABLED="false"
MST_TELEGRAM_BOT_TOKEN=""
MST_TELEGRAM_CHAT_ID=""
MST_TELEGRAM_PARSE_MODE=""
MST_TELEGRAM_DISABLE_WEB_PAGE_PREVIEW="true"
MST_TELEGRAM_TIMEOUT_SECONDS="15"
MST_TELEGRAM_MAX_RETRIES="2"
MST_TELEGRAM_RETRY_DELAY_SECONDS="2"
MST_ALERTS_ENABLED="false"
MST_ALERT_ON_WARNING="true"
MST_ALERT_ON_ERROR="true"
MST_ALERT_ON_UNAVAILABLE="true"
MST_ALERT_ON_UNKNOWN="true"
MST_ALERT_MODULES="all"
MST_ALERT_COOLDOWN_SECONDS="3600"
MST_ALERT_RECOVERY_ENABLED="true"
MST_ALERT_REPEAT_ENABLED="false"
MST_ALERT_REPEAT_INTERVAL_SECONDS="21600"
